body {
  font-family: "Roboto", sans-serif;
  background-color: #cfd9df;
}
.weather-app {
  border: none;
  display: block;
  margin: 50px auto;
  padding: 30px;
  max-width: 600px;
  border-radius: 20px;
  background-color: white;
  box-shadow: 2px 2px 2px #ddd;
}
.city {
  width: 80%;
  padding: 15px 0;
  background-color: #cfd9df;
  color: black;
}
.submit {
  padding: 15px 20px;
  background-color: #ef5f9a;
  margin-left: 10px;
  color: white;
}
.city,
.submit {
  border: none;
  border-radius: 10px;
  font-size: 20px;
  margin-bottom: 50px;
}
strong {
  color: #ef5f9a;
}
.weather {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}
.temperature {
  font-size: 80px;
}
.unit {
  position: relative;
  top: -40px;
  font-size: 24px;
}
a {
  text-decoration: none;
  color: #ef5f9a;
}

.current-temperature {
  display: inline-block;
}
img {
  width: 80px;
  position: relative;
  margin-bottom: -10px;
}
footer {
  border-top: 1px solid #cfd9df;
  padding-top: 20px;
}
.weather-forecast {
  margin: 20px 0;
  text-align: center;
  color: #000;
  display: flex;
  justify-content: space-between;
}
.forecast-day,
.min-temperature {
  opacity: 0.6;
}
